.profile {
    background: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    width: 100%;
    display: inline-block;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    .profile_name {
        line-height: 18px;
        padding: 20px;
        .name {
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .job {
            font-size: 14px;
            font-weight: normal;
        }
    }
    figure {
        margin-top: -10px;
        -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0 100%);
        clip-path: polygon(0 9%, 100% 0, 100% 94%, 0 100%);
        width: 100%;
        height: 300px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .profile_info {
        padding: 0 5px;
        .timeline {
            padding: 0;
            margin: 0 auto;
            .timeline-item-header {
                min-height:0;
                    &::before {
                        flex: 0;
                    }
                    .timeline-dot {
                        margin-left: -17px;
                        margin-bottom: 0;
                        margin-top: -15px;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }
                    .timeline-connector {
                        margin-left: -16px;
                        min-height: 27px;
                    }
                }
                .timeline-item {
                    min-height: 35px;
                    &::before {
                        flex: 0;
                    }
                    .timeline-dot {
                        margin: 0;
                        padding: 2px;
                    }
                    .timeline-text {
                        margin-top: -3px;
                        font-size: 13.5px;
                        color: #000;
                        line-height: 0px;
                        span {
                            color: #7F7F7F;
                        }
                    }
                }
        }
        .btn_resume {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            margin: 15px;
        }
    }

}