.timeline {
    padding: 0 !important;
    margin: 0 auto !important;
    @media (max-width: 900px) {
        &.timeline_profile{
            margin: 0 15px !important;
        }
    }
    .timeline-item-header {
            &::before {
                flex: 0;
                padding: 0 12.3px;
                @media (max-width: 768px) {
                    &{
                        padding: 6px 8px;
                    }
                }
            }
            .timeline-dot {
                margin-bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;

            }
            .timeline-dot.timeline_profile {
                @media (max-width: 900px) {
                    margin-left: -15px;
                    width: 40px;
                    height: 40px;
                    svg{
                        width: 50px;
                        height: 50px;
                    }
                }

            }
            .timeline-connector.timeline_profile {
                @media (max-width: 900px) {
                    margin-left: -18px;
                }
            }
            .timeline-connector {
                min-height: 30px;
            }
        }
        .timeline-item {
            &.timeline_info_profile {
                min-height: 34px;
            }
            &.timeline_info_resume {
                &::before {
                    padding: 6px 5px !important;
                    @media (max-width: 768px) {
                        & {
                            padding: 6px 3px !important;
                        }
                    }
                }
            }
            &::before {
                flex: 0;
                padding: 0 12px;
                @media (max-width: 768px) {
                    &{
                        padding: 6px 8px;
                    }
                }
            }
            .timeline-dot {
                margin: 0;
                padding: 2px;
            }
            .timeline-text {
                margin-top: -3px;
                font-size: 13.5px;
                color: #000;
                margin-top: -13px;
                text-transform: capitalize;
                font-weight: 400;
                span {
                    margin-left: 2px;
                    color: #7F7F7F;
                    font-weight: 500;
                    text-transform: none !important;
                }
                a {
                    margin-left: 2px;
                    font-weight: 500;
                    text-transform: none !important;
                    &:hover {
                        color: #0c51a0;
                    }
                }
            }
            &:nth-last-child(1) {
                .timeline-connector {
                    display: none;
                }
            }
        }
}

.timeline-info-content {
    padding: 6px 2px 6px 12px !important;
}