.content {
    margin: 0 !important;
    width: 100% !important;
    padding: 28px 35px !important;
    .head-content {
        margin-bottom: 25px;
        padding: 0 !important;
        z-index: 1;
        .head-title {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                background-color: #1976d2;
                width: 110%;
                height: 8px;
                bottom: 1px;
                z-index: -1;
                transform: translate(-4px, 0px);
                opacity: 0.5;
            }
        }
    }
    .body-content {
        padding: 0 !important;
        .text-container {
            white-space: pre-line;
            color: #4c4c4c;
            line-height: 24px;
            a {
                color: #363636;
                text-decoration: underline;
                font-weight: bold;
                &:hover {
                    color: #145aaa;
                }
            }
            &:after  {
                content: '\00A0\00A0';
            }
            & span::after {
                content: '\00A0\00A0';
            }
        }
    }
}

.services {
    width: 100%;
    .service-card {
        cursor: default ;
        background: #fff;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        padding: 20px;
        box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
        min-height: 186px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img {
            width: 60px;
            height: 60px;
            margin-bottom: 20px;
            color: #333;
        }
        h6 {
            margin-bottom: 10px;
            color: #000;
        }
        p {
            color: #333;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 1.5;
            text-align: center;
        }
    }
}

.skills {
    .skills-card {
        img {
            width: 30px;
            height: 30px;
            color: #333;
        }
        @media (max-width: 600px) {
            &{
                justify-content: center;
            }
        }
    }
    .btn-load {
        display: block;
        margin: 25px auto 15px auto;
        padding: 9px 25px;
    }
}