.title_dialog{
    .head-content {
        justify-content: center !important;
    }
    .ReactGridGallery {
        div {
            justify-content: center;
        }
    }
}

.btn-container {
    .btn-dialog-github {
        background-color: #7b1fa2;
    }
}