.modal-dialog{
    .MuiDialog-container {
        >div {
            border-radius: 15px !important;
            @media (max-width: 599px) {
                border-radius: 0 !important;
            }
        }
    }
    .head-content {
        justify-content: center !important;
    }
    .ReactGridGallery {
        div {
            justify-content: center;
        }
    }
}

.btn-container {
    max-width: 300px !important;
    margin: 20px auto !important;
    .btn-dialog {
        margin: 0;
        &-github {
            background-color: #7b1fa2;
            width: 100%;
            &:hover {
                background-color: #6a1b9a;
            }
        }
        &-live {
            background-color: #0077b5;
            margin-left: 0;
            width: 100%;
        }
    }
}