.portfolio-tabpanel {
    padding: 25px 0 !important;
}

.portfolio {
    .btn-load {
        display: block;
        margin: 25px auto 15px auto;
        padding: 9px 25px;
    }
}

.portfolio-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    &:hover .portfolio-card-buttons {
        opacity: 1;
    }

    .portfolio-card-media-wrapper {
        position: relative;
        height: 180px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .portfolio-card-buttons {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        transform: translate(-50%, -50%);
        svg {
            color: white;
        }
        .btn-card {
            margin-left: 10px;
            background-color: #1976d2;
            transition: background-color .3 ease-out ;
            &:hover {
                background-color: #0c51a0;
            }
        }
    }
    .portfolio-chip {
        position: absolute;
        top: 7px;
        left: 7px;
        color: #fff;
        background-color: #1976d2;
    }
}


.portfolio-card-title {
    &:hover ~ .portfolio-card-buttons {
        opacity: 1;
    }
}

.portfolio-card-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
